body{
    background-color: rgb(82 82 91);
    font-family: 'Roboto', sans-serif;
}

body:hover{
    cursor:default;
}

.main-div{
    background-color: rgb(250 250 250);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
}

.content{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    height: 90vh;
    
}

.navigation{
    padding-top: 15vh;
    background-color: rgba(63, 63, 70,0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 60px;
    gap: 30px;

    border-radius: 20px;
    
}

.navigation> a{
    color: gray;
    text-decoration: none;
    font-weight: 800;
}

a:hover{
    background-color: rgba(63 ,63 ,70,0.5);
    color: rgb(41 37 36);
    padding: 10px;
    border-radius: 20px;
}

.middle-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}