body{
    background-color: rgb(82, 82, 91, 0.4);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

body:hover{
    cursor:default;
}

.main-div{
    background-color: rgb(250 250 250);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.content{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    height: 90vh;
    
}

.navigation{
    padding-top: 15vh;
    background-color: rgba(63, 63, 70,0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 60px;
    gap: 30px;
    position:relative;
    border-radius: 20px;
    
}

.navigation> a{
    color: gray;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    gap: 5px;
}

a:hover{
    background-color: rgba(63 ,63 ,70,0.5);
    color: rgb(41 37 36);
    padding: 10px;
    border-radius: 20px;
}

.middle-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
   
}

.details-panel{
    display: flex;
    background-color: rgba(250,250,250, 0.1);
    border-radius: 20px;
}

/*svg */

.svg{
    width: 20px;
}

/*tasks */
.task-check{
   background-color: aquamarine;
    
}

.task{
    display: flex;
    align-items: center;
    
}

.task-check{
    border: 1px solid blue;
    border-radius: 10px;
    padding: 100px;
    
}

.task-columb{
    display:  flex;
    border-bottom: 1px dotted gray;
    justify-content: flex-start;
    font-size: 25px;
    margin-left: 30px;
    width: 600px;
    text-align: center;
}

.category-columb{
    display: flex;
    color: orange;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 20px;
}

.add-taskbtn{
    display: flex;
    padding-right: 500px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(250,250,250, 0.1);
    border-radius: 10px;
    border: 1px dotted gray;
    color:  gray;
    font-size: 25px;
    margin-bottom: 30px;
    background-image: url("./assets/plus.svg");
    background-repeat: no-repeat;
    background-position:10px;
    background-size: 20px 20px;
    
}

.add-taskbtn:hover{
    cursor: pointer;
    border: 3px dotted gray;
}

.detailsbtn{
    background-image: url("./assets/arrow.svg");
    background-repeat: no-repeat;
    background-position:center;
    width: 40px;
    height: 30px;
    background-size: 20px 20px;
    border: none;
    background-color: rgba(250,250,250, 0.1);
    
}

.detailsbtn:hover{
    cursor: pointer;
}

/* details form*/

.details-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(63, 63, 70,0.1);
    width: 600px;
    border-radius: 20px;
    color: gray;
    padding: 20px;
    gap: 20px;
    
}

.task-input{
    border: 1px dotted gray;
    background-color: rgba(63, 63, 70,0.001);
    border-radius: 10px;
    width: 500px;
    height: 50px;
    color: rgb(63 63 70);
    font-size: 20px;
    padding: 10px;
    
}


.checked-task{
    text-decoration: line-through;
}

.task-input:hover{
    cursor: pointer;
    border: 2px dotted gray;
}

.task-input:focus{
    border: 2px dotted gray;
    outline: none;
}

#task-description-input{
    resize: none;
    height: 200px;
    scrollbar-width: thin;
    scrollbar-color: rgb(39 39 42);
    
    
}

.category-feild{
    display: flex;
    outline: none;
    border: none;
    gap: 20px;
    align-items: center;
}

#task-category-input{
    width: 200px;
}

.date-field{
    display: flex;
    outline: none;
    border: none;
    gap: 20px;
    align-items: center;
}

.date-input{
    border: 1px dotted gray;
    padding: 1px 30px;
    background-color: rgba(63, 63, 70,0.001);
    border-radius: 10px;
}

.details-tasks-btn{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.add-task-form-btn{
    width: 250px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(251 191 36);
    font-size: 18px;
    margin-left: 150px;
    margin-top: 30px;
}
.add-task-form-btn:hover{
    width: 255px;
    height: 55px;
    cursor: pointer;
    border: 2px solid gray;
}

.delete-taskbtn{
    padding: 20px 50px;
    border: 1px solid gray;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(63, 63, 70,0.001);
    font-size: 18px;
}


.delete-taskbtn:hover{
    cursor: pointer;
    border: 2px solid gray;
}

.save-taskbtn{
    padding: 20px 45px;
    border: 1px solid gray;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(251 191 36);
    font-size: 18px;
}

.save-taskbtn:hover{
    cursor: pointer;
    border: 2px solid gray;
}

h1{
    color: rgb(63 63 70);
    
}